body {
  margin: 0;
  background: dimgrey;
  color: cornsilk;
}

p {
  margin: 0 0 2px 0
}

div {box-sizing: border-box}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative
}

.container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.container-wheel {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}

.info {
  margin-left: 10px;
}

.info-wheel {
  margin-left: 10px;
  width: 60px;
}

.previous, .current {
  margin-bottom: 10px;
}

.prevState, .currentState {
  margin: 10px 0;
}

#currentColor, #prevColor {
  height: 60px;
  border: 1px solid cornsilk
}

.btn {
  background: rgba(23,28,32,0.69);
  width: 100%;
  cursor: pointer;
}

#btn {
  width: 100%;
  cursor: pointer;
  height: 30px;
  background: dimgrey;
  border: 1px solid cornsilk;
  border-radius: 20%;
  color: cornsilk;
}

.picker {
  height: 100px;
}

#activeColor {
  width: 50px;
  height: 50px;
}
