body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin: 0
}
div {box-sizing: border-box}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative
}

.container {
  display: flex;
  align-items: center;
  top: 50%;
  margin-top: 100px;
}

.info {
  margin-left: 10px;
}

.previous, .current {
  margin-bottom: 10px;
}

.btn {
  background: rgba(23,28,32,0.69);
  width: 100%;
  cursor: pointer;
}
